<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    id="com.nilaf.plugin.VideoRecorder"
    version="1.0.0">

    <name>VideoRecorder</name>

  <description>
    Video recorder Plugin for Steroids.js
  </description>

  <engines>
    <engine name="cordova" version=">=2.7.0" />
  </engines>


  <!-- ios -->
  <platform name="ios">

    <config-file target="config.xml" parent="/*">
      <feature name="VideoRecorder">
        <param name="ios-package" value="VideoRecorder"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <header-file src="src/ios/VideoRecorder.h" />

    <source-file src="src/ios/VideoRecorder.m" />

  </platform>
</plugin>